{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #homepageSynchronize {
            color: white;
        }
        #homepageSynchronize :hover {
            font-size: 50px;
        }
    </style>
{% endblock %}

{% block content_header %}
    <h1>
        Agile VISUAL
        <small>A tool for visualising your user stories</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-sm-6">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Information</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- Post -->
                        <div class="post">
                            <!-- /.user-block -->
                            <div class="text-center">
                                <img src="{{ asset('public/img/visual-scrum.png') }}" alt="visual-scrum" class="">
                            </div>

                            <p>
                                AgileVISUAL is a project of a KTU university student Mantas Marcinkevičius. The purpose of
                                it is to provide a service for easy UML diagram generation from the user stories of a project.
                                In order to do it, you first need to register a new user, synchronize your user stories and by a
                                click of a button you will be provided with UML diagrams. Just start and you will soon
                                see for yourself.
                            </p>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        {% if app.user is not null %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
                    <a href="{{ path('synchronize') }}" id="homepageSynchronize">
                        <span class="info-box-icon"><i class="fa fa-refresh"></i></span>
                    </a>

                    <div class="info-box-content">
                        <span class="info-box-text">Pull project data</span>
                        <span class="info-box-number">SYNCHRONIZE</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">

                  </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-copy"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Projects</span>
                        <span class="info-box-number">{{ app.user.projects | length }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-list"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">User stories</span>
                        {% set stories = 0 %}
                        {% for project in app.user.projects %}
                            {% set stories = stories + project.userStories | length %}
                        {% endfor %}

                        <span class="info-box-number">{{ stories }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-file-image-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Diagrams</span>
                        {% set diagrams = 0 %}
                        {% for project in app.user.projects %}
                            {% set diagrams = diagrams + project.useCaseDiagrams | length %}
                            {% set diagrams = diagrams + project.classDiagrams | length %}
                        {% endfor %}

                        <span class="info-box-number">{{ diagrams }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        {% endif %}
        <div class="col-md-6 col-xs-12">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Error!</h4>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
