{% extends 'base.html.twig' %}

{% block content_header %}
    <h1>
        {{ project.title }}
        <small>Manage your user stories and generate diagrams</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('projects') }}"><i class="fa fa-book"></i> Projects</a></li>
        <li class="active">{{ project.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">User Stories</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Title</th>
                                <th>Valid</th>
                            </tr>
                            {% set no = 1 %}
                            {% for story in project.userStories %}
                                <tr>
                                    <td>{{ no }}</td>{% set no = no + 1 %}
                                    <td>{{ story.title }}</td>
                                    <td>
                                        {% if story.valid is defined and story.valid is not null %}
                                            {% if story.valid %}
                                                <i class="fa fa-fw fa-check green icon-success" style="color: #00a65a"></i>
                                            {% else %}
                                                <i class="fa fa-fw fa-close" style="color: #dd4b39"></i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div>
            <!-- /.box -->
        </div>
        <din class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Actions</h4>
                </div>
                <div class="box-body">
                    <a class="btn btn-app" data-url="{{ path('validate_project', {id: project.id}) }}" id="validate-project-button" data-toggle="modal" data-target="#modal-validate">
                        <i class="fa fa-check-circle-o"></i> Validate project
                    </a>
                    <a class="btn btn-app" href="#" data-toggle="modal" data-target="#modal-in-progress">
                        <span class="badge bg-red">changed</span>
                        <i class="fa fa-repeat"></i> Back sync
                    </a>
                    <a class="btn btn-app bg-blue" href="{{ path('use-case-generation', {id: project.id}) }}">
                        <i class="fa fa-commenting"></i> Use case diagram
                    </a>
                    <a class="btn btn-app bg-blue" href="#" data-toggle="modal" data-target="#modal-in-progress">
                        <i class="fa fa-exchange"></i> Activity diagram
                    </a>
                </div>
            </div>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Error!</h4>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Diagrams</h4>
                </div>
                <div class="box-body">
                    {% for diagram in project.useCaseDiagrams %}
                        <img class="diagram-image" src="{{ asset(diagram.file) }}" alt="{{ diagram.title }}" width="24%" data-toggle="modal" data-target="#modal-diagram" style="cursor: pointer;" data-xmi="{{ diagram.xmiFile }}">
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Dictionary</h4>
                </div>
                <div class="box-body">
                    <ul>
                        {% for noun, stories in project.dictionary  %}
                            <li>{{ noun }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </din>
        <div class="modal fade" id="modal-diagram">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Diagram</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img class="modal-diagram-image" src="" width="50%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <a href="" class="download-diagram-image" download style="color: #ffffff;">
                            <button type="button" class="btn btn-warning">
                                Download image
                            </button>
                        </a>
                        <a href="" class="download-diagram-xmi" download style="color: #ffffff;">
                            <button type="button" class="btn btn-primary">
                                Download xmi
                            </button>
                        </a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modal-in-progress">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Activity Diagram</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>This functionality is still under development.</p>
                        <ul>
                            <li class="drag">Test</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modal-validate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Activity Diagram</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="step-first hidden">
                            <p>Validating user stories...</p>

                            <img src="{{ asset('img/Spinner.gif') }}" alt="">
                        </div>
                        <div class="validation-step hidden" id="validation-step-one">
                            <p>Validating user stories...</p>

                            <img src="{{ asset('img/Spinner.gif') }}" alt="">
                        </div>
                        <div class="validation-step hidden" id="validation-step-two">

                        </div>
                        <div class="validation-step hidden" id="validation-step-three">
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Success!</h4>
                                Validation finished
                            </div>
                        </div>
                        <div class="validation-step hidden" id="validation-step-failed">
                            <div class="callout callout-danger">
                                <h4>Error!</h4>

                                <p>Validation failed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.5/lib/draggable.bundle.js"></script>
    <script>
        $(document).ready(function () {
            var $diagrams = $('.diagram-image');

            $diagrams.on('click', function () {
                $('.modal-diagram-image').attr('src', $(this).attr('src'));
                $('.download-diagram-image').attr('href', $(this).attr('src'));
                $('.download-diagram-xmi').attr('href', '/diagrams/' + $(this).data('xmi'));
            });

            $('#validate-project-button').on('click', function () {
                $('.validation-step').addClass('hidden');
                $('#validation-step-one').removeClass('hidden');

                $.ajax({
                    url: $(this).data('url'),
                    method: "post",
                    success: function (response) {
                        $('#validation-step-one').addClass('hidden');
                        $('#validation-step-three').removeClass('hidden');
                    },
                    error: function (response) {
                        $('#validation-step-one').addClass('hidden');
                        $('#validation-step-failed').removeClass('hidden');
                    }
                });
            })
        });
    </script>
{% endblock %}
