{% extends 'base.html.twig' %}

{% block content_header %}
    <h1>
        {{ project.title }}
        <small>Manage your user stories and generate diagrams</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('projects') }}"><i class="fa fa-book"></i> Projects</a></li>
        <li class="active">{{ project.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">User Stories</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Title</th>
                                <th>Valid</th>
                            </tr>
                            {% set no = 1 %}
                            {% for story in project.userStories %}
                                <tr>
                                    <td>{{ no }}</td>{% set no = no + 1 %}
                                    <td>{{ story.title }}</td>
                                    <td>
                                        {% if story.valid is defined and story.valid is not null %}
                                            {% if story.valid %}
                                                <i class="fa fa-fw fa-check green icon-success" style="color: #00a65a"></i>
                                            {% else %}
                                                <i class="fa fa-fw fa-close" style="color: #dd4b39"></i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div>
            <!-- /.box -->
        </div>
        <din class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Generate a Diagram</h4>
                </div>
                <div class="box-body">
                    <a class="btn btn-app" href="{{ path('use-case-generation', {id: project.id}) }}">
                        <i class="fa fa-commenting"></i> Use case
                    </a>
                    <a class="btn btn-app" href="#">
                        <i class="fa fa-exchange"></i> Activity
                    </a>
                </div>
            </div>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Error!</h4>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Diagrams</h4>
                </div>
                <div class="box-body">
                    {% for diagram in project.useCaseDiagrams %}
                        <img class="diagram-image" src="{{ asset(diagram.file) }}" alt="{{ diagram.title }}" width="24%" data-toggle="modal" data-target="#modal-default" style="cursor: pointer;" data-xmi="{{ diagram.xmiFile }}">
                    {% endfor %}
                </div>
            </div>
        </din>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Diagram</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img class="modal-diagram-image" src="" width="50%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <a href="" class="download-diagram-image" download style="color: #ffffff;">
                            <button type="button" class="btn btn-warning">
                                Download image
                            </button>
                        </a>
                        <a href="" class="download-diagram-xmi" download style="color: #ffffff;">
                            <button type="button" class="btn btn-primary">
                                Download xmi
                            </button>
                        </a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var $diagrams = $('.diagram-image');


            $diagrams.on('click', function () {
                $('.modal-diagram-image').attr('src', $(this).attr('src'));
                $('.download-diagram-image').attr('href', $(this).attr('src'));
                $('.download-diagram-xmi').attr('href', '/diagrams/' + $(this).data('xmi'));
            });
        });
    </script>
{% endblock %}
